.box {
  padding: 1em 2em;
  margin: 1em 0;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 20em;
}

.box.mutate {
  border: 2px solid #d52a35;
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
}
.box.low {
  border: 2px solid #ffcd00;
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
}

.box.high {
  border: 2px solid #691ba4;
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
}

.box.oe {
  border: 2px solid #245bc2;
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
}

.mutate .name,
.mutate .factor-name {
  color: #d52a35;
}
.low .name,
.low .factor-name {
  color: #ffcd00;
}
.high .name,
.high .factor-name {
  color: #691ba4;
}

.factor-name,
.ant-slider-mark-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-container {
  float: left;
}

.effects-box {
  width: 20em;
  margin: 1em;
  padding: 1em 2em;
  border: 2px solid #ddd;
  text-align: center;
  border-radius: 8px;
  height: 9em;
  position: relative;
}
