.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  padding: 1em;
  width: 95vw;
  margin: 0 auto;
  position: relative;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.effects-box.dec {
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
  border-color: rebeccapurple;
}

.effects-box.inc {
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
  border-color: seagreen;
}

.effects-box.alter {
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
  border-color: rgb(225, 0, 255);
}

.centered {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
}

.c1 {
  position: fixed;
  top: 30%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, 0);
}

.c1 .status {
  height: 3em;
}

.name,
.factor-name {
  font-weight: 600;
  color: #282c34;
}

.box.p2 {
  height: 10em;
}

.c1-wrp {
  display: inline-block;
  position: relative;
}

.reset-all {
  position: relative;
  left: 50%;
  transform: translate(-50%, 1em);
  background-color: #35c759;
  border-color: #35c759;
}

.status-icon {
  position: absolute;
  left: calc(100% + 0.25em);
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6em;
  color: #eb2f96;
}

@keyframes increase-anim {
  0% {
    top: 70%;
    opacity: 0;
  }
  25% {
    top: 70%;
    opacity: 1;
  }
  75% {
    top: 30%;
    opacity: 1;
  }
  100% {
    top: 30%;
    opacity: 0.2;
  }
}
@keyframes decrease-anim {
  0% {
    top: 30%;
    opacity: 0;
  }
  25% {
    top: 30%;
    opacity: 1;
  }
  75% {
    top: 70%;
    opacity: 1;
  }
  100% {
    top: 70%;
    opacity: 0.2;
  }
}

.status-icon.alter {
  left: calc(100% + 0.5em);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.status-icon.dec {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: decrease-anim;
  animation-duration: 4s;
}

.status-icon.inc {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: increase-anim;
  animation-duration: 4s;
}

/* .svg-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
} */

.prediction-wrp {
  position: fixed;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 2em;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -2em);
}

.level-ind {
  margin-top: 3rem;
  position: relative;
  border-radius: 50px;
  border: 0.15rem solid black;
}

.level {
  height: 2rem;
  width: 8rem;
  float: left;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 2rem;
  text-transform: uppercase;
  border: none;
}

.l0 {
  background: #79c422;
  border-left: none;
  border-radius: 50px 0 0 50px;
}

.l1 {
  background: #ffc007;
}

.l2 {
  background: #ff7100;
}

.l3 {
  background: #e5221e;
  border-right: none;
  border-radius: 0 50px 50px 0px;
}

.indicator-marker {
  transition: left 1s;
}

.prediction-wrp .title {
  text-align: center;
  font-size: 2rem;
}

.info-icon {
  position: absolute;
  cursor: pointer;
  right: 8px;
  padding: 8px;
  top: 8px;
}

.inner-text {
  white-space: pre-wrap;
}

/* LOADER  */
.spinner {
  position: absolute;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* LOADER ENDS */

.loader-wrp {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #0000002e;
}

.box {
  padding: 2em 3em;
  margin: 1em 0;
  text-align: center;
  border: 2px solid #ddd;
  position: relative;
  border-radius: 4px;
  width: 20em;
}

.box.mutate {
  border: 2px solid #d52a35;
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
}
.box.low {
  border: 2px solid #ffcd00;
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
}

.box.high {
  border: 2px solid #691ba4;
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
}

.box.oe {
  border: 2px solid #245bc2;
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
}

.mutate .name,
.mutate .factor-name {
  color: #d52a35;
}
.low .name,
.low .factor-name {
  color: #ffcd00;
}
.high .name,
.high .factor-name {
  color: #691ba4;
}

.factor-name,
.ant-slider-mark-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-container {
  float: left;
}

.effects-box {
  width: 20em;
  margin: 1em;
  padding: 1em 2em;
  border: 2px solid #ddd;
  text-align: center;
  border-radius: 8px;
  height: 9em;
  position: relative;
}
