.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  padding: 1em;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.effects-box.dec {
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
  border-color: rebeccapurple;
}

.effects-box.inc {
  box-shadow: -4px 4px 8px rgba(43, 59, 93, 0.49);
  border-color: seagreen;
}

.centered {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
}

.c1 {
  position: fixed;
  top: 30%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, 0);
}

.c1 .status {
  height: 3em;
}

.name,
.factor-name {
  font-weight: 600;
  color: #282c34;
}

.box.p2 {
  height: 10em;
}
